.passwordreset-container {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.35)
		),
		url(../images/img/ustmainbldg_bg.jpg);
	background-position: center;
	background-size: cover;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.passwordreset-container__user {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 5px;
	animation: animatePopUp 0.5s ease-in-out;
}
.passwordreset-passwordreminder {
	margin-left: 50px;
}

#passreminders-li {
	list-style-type: disc;
	font-size: 10px;
}

.passwordreset-user__wrapper {
	width: 50%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.48) 0px 5px 15px;
	padding: 35px;
}

.passwordreset-user__password {
	margin: 10px 0 20px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	box-shadow: 8px 8px 16px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.passwordreset-user--container__password {
	width: 100%;
	text-align: center;
}

.passwordreset-userinput__password {
	width: 100%;
	outline: none;
	border: none;
	text-align: center;
	font-size: 15px;
}

#passwordreset-ustlogoblck {
	width: 144px;
	height: 144px;
}

.passwordreset-message_msg {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 20px 0 10px 0;
	font-size: 14px;
	letter-spacing: 0.3px;
	color: #4bb543;
	border-radius: 5px;
	text-align: center;
	font-weight: 500;
}
