.rejectedservicerequests-container {
	overflow-y: scroll;
	height: calc(100vh - 155px);
	margin-top: 20px;
}

.rejectedservicerequestsheader-header h2 {
	margin-left: 50px;
	text-transform: uppercase;
	font-weight: 700;
}

.rejectedservicerequests-container::-webkit-scrollbar {
	width: 5px;
}

.rejectedservicerequests-container::-webkit-scrollbar-thumb {
	background: rgba(110, 110, 110, 0.395);
	border-radius: 20px;
}

.charts-pieandBarchart {
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.charts-barchart__container {
	margin: 0 100px;
}
