.search-container {
	width: 190px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

.search-container__wrapper {
	display: flex;
	justify-content: center;
}

.search-input {
	border: none;
	outline: none;
}

.search-icon {
	width: 16px;
	height: 24px;
	margin-right: 10px;
}

.generatereport-container {
	padding-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.generatereport {
	padding: 0 5px;
}

.generatereport-container span {
	padding: 3px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
